@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color: #df2935;
  --secondary-color: #46237a;
  --third-color: #087e8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.container {
  padding: 0.625rem 1.25rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 5px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.menu {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.menu span {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px 0px rgba(240, 128, 128, 0.3);
  width: 25px;
  height: 2px;
  border-radius: 4px;
  margin: 3px 0px 3px 0px;
  transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81),
    transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.menu span:nth-child(2) {
  transform-origin: 50% 50%;
}


.menu.active span {
  margin: -1px;
}
.menu.active span:nth-child(1) {
  transform: rotate(-45deg);
}
.menu.active span:nth-child(2) {
  transform: scale(0);
}
.menu.active span:nth-child(3) {
  transform: rotate(45deg);
}

.change {
  color: var(--primary-color);
}

.navbar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  padding: 4px 0;
}

.navbar a {
  display: block;
  font-size: 1.2rem;
  color: var(--secondary-color);
  position: relative;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.3s * var(--j));
}

.navbar a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.5s;
}

.navbar a:hover::after {
  width: 100%;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right .img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rebeccapurple;
  margin: 0 auto;
  background-image: url("assests/photo_2024-02-19_11-31-55.jpg");
  background-position: center;
  background-size: cover;
}

.home .left {
  flex: 2;
}

.left h3 {
  font-size: 1.75rem;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
}

.left h1 {
  font-size: 3.5rem;
  animation: slideRight 1s;
}

.home .right {
  flex: 1;
}

.right .img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rebeccapurple;
  margin: 0 auto;
  background-image: url(assests/photo_2024-02-19_11-31-55.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--third-color);
}

.icons {
  display: flex;
}

.icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.813rem;
  height: 2.813rem;
  font-size: 1.5rem;
  border: 2px solid var(--third-color);
  border-radius: 50%;
  margin: 1.875em 0.938em 1.875em 0;
  color: var(--third-color);
  opacity: 0;
  animation: slideLeft 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.icons .icon:hover {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  transition: 0.5s;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 40px;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover {
  background-color: #fff;
  color: var(--primary-color);
}

@keyframes slideTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 720px;
    margin: 0 auto;
  }

  .header {
    position: relative;
  }

  .menu {
    display: flex;
  }

  nav {
    position: absolute;
    right: 0;
    top: 100%;
    width: 30%;
    padding: 1rem;
    background-color: #fff;
    z-index: 2;
  }

  nav {
    display: none;
    transition: 0.5s;
  }

  nav.active {
    display: block;
  }

  nav .navbar {
    flex-direction: column;
    align-items: center;
  }

  .right .img {
    width: 290px;
    height: 290px;
  }
}

@media only screen and (max-width: 568px) {
  html {
    font-size: 10px;
  }
  .home {
    flex-direction: column;
    height: auto;
  }
  nav {
    width: 100%;
  }
  .right {
    margin-top: 25px;
  }
}

